input[type="file"] {
  display: none;
}
.navbar .nav-link {
  color: rgb(0, 0, 0);
  transition: ease-in 0.1s;
}
.card {
  border: 1px solid rgb(214, 214, 214);
  box-shadow: 2px 2px 15px grey;
}
.navbar .nav-link:hover {
  background: none;
  border-radius: 0;
  padding-bottom: 0.3rem;
  transition: ease-out 0.1s;
  color: rgb(248, 183, 118);
}
.icon-smaller {
  max-width: 20px;
  margin-bottom: 0.3rem;
}
.dropdown-menu {
  border-radius: 0;
}
.dropdown-menu .dropdown-item:hover {
  background: none;
  border-radius: 0;
  padding-bottom: 0.3rem;
  transition: ease-out 0.1s;
  color: rgb(248, 183, 118);
}
.dropdown-menu .dropdown-item {
  color: rgb(0, 0, 0);
}
.profile-picture {
  font-size: 7rem;
}
.background-gradient {
  background: linear-gradient(
    80deg,
    rgb(235, 235, 235),
    rgb(238, 235, 230),
    rgb(255, 255, 255),
    rgb(241, 236, 236),
    rgb(255, 254, 253),
    rgb(250, 249, 248)
  );
}
form {
  font-family: "Quicksand-SemiBold";
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
form input {
  color: initial;
  font-family: "Quicksand-Light";
  border: 1px solid rgb(201, 197, 197);
  border-radius: 3px;
}
form select {
  font-family: "Quicksand-Light";
  background: transparent;
  border: 1px solid rgba(236, 161, 22, 0.849);
  border-radius: 3px;
  margin-left: 0.2rem;
  background-color: rgba(236, 162, 24, 0.849);
}
.md-width-select {
  width: 5rem;
}
.lg-width-select {
  width: 100%;
}
.heading {
  font-size: 2rem;
  color: rgb(51, 50, 50);
  text-align: center;
  text-shadow: 1px 1px 3px rgb(192, 192, 192);
}
.form-group span {
  margin-left: 0.5rem;
  font-family: "Quicksand-medium";
  color: rgb(185, 23, 23);
  margin-top: -0.2rem;
  text-align: center;
}
form input:focus {
  color: rgb(0, 0, 0);
  border: 1px solid rgb(65, 40, 7);
  transition-duration: 200ms;
  transform-origin: right;
  box-shadow: 0 0 2pt 1pt rgba(238, 159, 13, 0.849);
}
form input[type="radio"]:focus {
  box-shadow: 0 0 2pt 1pt rgba(226, 152, 15, 0.849);
}
form input[type="radio"]:hover {
  box-shadow: 0 0 2pt 1pt rgba(238, 163, 25, 0.849);
}
form select:focus {
  color: black;
  border: 1px solid rgb(65, 40, 7);
  box-shadow: 0 0 2pt 1pt rgba(236, 161, 22, 0.849);
}
.bg-gradient {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(241, 239, 236, 0.548),
    rgb(231, 230, 229),
    rgb(236, 232, 230)
  );
}
input[name="gender"] {
  outline: none;
  background: transparent;
}
.shadow {
  box-shadow: 10px 10px 15px black;
}
.navbar-gradient {
  background: linear-gradient(
    to left,
    rgb(245, 243, 240),
    rgb(211, 211, 211),
    rgb(202, 202, 201)
  );
  color: black;
}
.form-row label {
  margin-left: 0.5rem;
}
.bio-overview {
  margin-left: 3.5%;
  margin-right: 1.5%;
}
.profile-row {
  display: flex;
}
input[type="submit"] {
  padding: 0.9rem 0.9rem 0.9rem 0.9rem;
  font-family: Quicksand-semibold;
  border-radius: 9px;
  border: none;
  color: rgb(51, 41, 41);
  background: linear-gradient(
    90deg,
    rgb(243, 182, 51),
    rgb(175, 119, 14),
    rgb(223, 175, 93)
  );
}
input[type="submit"]:hover {
  transform: scale(1);
  color: rgb(255, 255, 255);
  box-shadow: 2px 2px 20px rgb(66, 66, 66);
}
.profile-image {
  max-width: 200px;
}
.profile-image-container {
  display: block;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}
.profile-image-btn {
  background: linear-gradient(
    90deg,
    rgb(243, 182, 51),
    rgb(175, 119, 14),
    rgb(223, 175, 93)
  );
  padding: 1rem 1rem 1rem 1rem;
  color: rgb(51, 41, 41);
  border-radius: 9px;
  transition: ease-in 0.2s;
}
.profile-image-btn:hover {
  transform: scale(1);
  color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 2px 2px 12px rgb(66, 66, 66);
  transition: ease-out 0.3s;
}
.overview-info {
  margin-top: 4rem;
  margin-left: 15%;
}
.medium-profile-icon {
  max-width: 40px;
}
.small-profile-icon {
  max-width: 20px;
}
.overview-item {
  font-family: Quicksand-light;
  color: rgb(78, 37, 4);
}

.small-icon {
  max-width: 30px;
}
.small-title {
  max-width: 200px;
}
.logo-in-profile {
  margin-top: 2rem;
  margin-left: 20%;
}
.min-width-md {
  min-height: 75vh;
}
.alert-danger {
  background: linear-gradient(
    120deg,
    rgb(99, 42, 42),
    rgb(160, 7, 7),
    rgb(94, 23, 23)
  );
  color: rgb(211, 104, 104);
  border: none;
}
.company-icon {
  max-width: 30px;
}
.company-title {
  max-width: 110px;
}
.alert-success {
  background: linear-gradient(
    120deg,
    rgb(22, 94, 32),
    rgb(46, 133, 75),
    rgb(8, 110, 42)
  );
  color: rgb(8, 66, 18);
  border: none;
}
