body {
  background-color: rgba(144, 155, 167, 0.534);
}
input[type="file"] {
  display: none;
}

.product-picture-review {
  width: 100%;
}
.resized {
  max-width: 300px;
}
input[name="setproduct"] {
  top: 13px;
}
.update-body {
  background: linear-gradient(
    90deg,
    rgba(211, 205, 200, 0.836),
    rgba(187, 186, 185, 0.836),
    rgba(211, 205, 200, 0.836)
  );
  padding: 5.5% 4.5% 4.5% 4.5%;
}
.update-body input[type="text"] {
  background-color: rgb(247, 247, 247);
}
.console-body {
  margin-top: 5.33%;
  background-color: rgba(48, 46, 46, 0.89);
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  box-shadow: 2px 2px 4px rgba(117, 117, 117, 0.945);
}
